@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button {
  padding: .5rem;
  margin: .5rem;
  margin-left: 0;
  border: 2px solid var(--color-border);
  border-radius: 5px;

  color: var(--vt-c-text-dark-2);
  background-color: var(--vt-c-divider-dark-2);
}

button:hover:enabled {
  color: yellowgreen;
  border-color: yellowgreen;
}

button:disabled {
  border-color: var(--color-background-mute);
  color: var(--color-background);
  background-color: var(--color-background-mute);
}
